/* Navbar */
#mainNav {
  background: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
  backdrop-filter: blur(10px); /* Effet de flou */
  transition: all 0.3s ease-in-out;
  padding: 15px 0;
}

/* Effet au scroll */
#mainNav.scrolled {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

/* Icône du logo */
.navbar-brand i {
  color: #6a0572;
  transition: color 0.3s ease;
}

.navbar-brand:hover i {
  color: #a8339b;
}

/* Liens du menu */
.navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #6a0572;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-nav .nav-link:hover {
  color: #a8339b;
  transform: translateY(-2px);
}

/* Bouton Event */
.btn-event {
  background: linear-gradient(135deg, #800080, #dd089d);
  color: white;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-event:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(221, 8, 157, 0.6);
}





/* Conteneur principal */
.sponsors-container {
  background: linear-gradient(135deg, #6a0572, #a8339b);
  display: flex;
  justify-content: center;
}

/* Grille des sponsors */
.sponsors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 150px;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}

/* Logos */
.sponsor-item {
  max-width: 150px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
  padding: 20px;
}

/* Effet au survol */
.sponsor-item:hover {
  transform: scale(1.1);
}
