<nav class="navbar navbar-expand-lg sticky-top shadow-sm animated-navbar" id="mainNav">
    <div class="container px-5">
        <!-- Logo / Home Icon -->
        <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="/">
            <i class="bi bi-house-door-fill fs-3 me-2"></i> <!-- Icône maison -->
        </a>
  
        <!-- Bouton Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" 
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
  
        <!-- Menu -->
        <div class="collapse navbar-collapse restbar" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="members">Members</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="publications">Publications</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="software">Software</a></li>
            </ul>
  
            <!-- Bouton Event -->
            <a class="btn btn-primary rounded-pill px-4 py-2 btn-event d-flex align-items-center" href="#">
                <i class="bi bi-calendar-event me-2"></i> <span>Event</span>
            </a>
        </div>
    </div>
  </nav>
  
<router-outlet></router-outlet>

