html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

#mainNav {
  position: sticky;
  top: 0;
  z-index: 1020; /* S'assurer qu'elle passe au-dessus des autres éléments */
  background: rgba(255, 255, 255, 0.9); /* Ajouter un fond pour éviter qu'elle devienne transparente */
  backdrop-filter: blur(10px); /* Effet flou pour plus de modernité */
  transition: all 0.3s ease-in-out;
}

.animated-navbar {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInNavbar 0.8s ease-out forwards;
}

@keyframes fadeInNavbar {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-primary {
  background: #800080;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 25px;

}

.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(221, 8, 157, 0.6);
}
