<header id="masthead">
    <div class="container px-5" id="header-container">
        <div class="d-inline-flex flex-wrap align-items-center justify-content-center w-100">
            <!-- Logo -->
            <div>
                <img id="logo" src="assets/img/logo3.png" class="animate-logo img-fluid">
            </div>
    <!-- Texte -->
            <div>
                <h1 class="animated-title d-inline-flex">
                    <span>E</span><span>R</span><span>I</span><span>A</span><span>N</span><span>A</span>
                </h1>
            </div>
        </div>
    </div>
</header>
<section id="content-section">
<div class="container px-5">
    <div class="content-box">
        <h2 class="content-title">Description</h2><br/>
        <p>
            Donner un sens aux récits du quotidien est une tâche très difficile, qui nécessite une compréhension approfondie de la langue et une connaissance vaste du monde. Alors qu’un “lecteur humain” peut s’appuyer sur un raisonnement de haut niveau pour tirer des conclusions, les modèles actuels manquent largement de cette capacité. La majorité des approches existantes de la compréhension du langage, en particulier celles qui reposent sur des modèles neuronaux de bout en bout, se concentrent principalement sur l’exécution de formes de raisonnement de bas niveau (au niveau de la phrase) pour accomplir des tâches.
        </p><br/>
        <p>
            Cependant, si nous voulons aller de l’avant, nous avons besoin de capacités de raisonnement de haut niveau qui combinent les connaissances de bon sens d’une manière efficace. Ce projet vise à développer une approche de raisonnement de haut niveau sur les récits du quotidien. Le raisonnement sur les récits est centré sur l’événement, qui repose intrinsèquement sur les possibilités d’événement (aspects ou attentes) et les interactions (causalité ou temporelle par exemple) entre les événements.
        </p><br/>
        <p>
            Nous développerons d’abord un cadre de représentation neuro-symbolique des récits qui permettra d’encoder les événements ainsi que leurs affordances, et les interactions entre eux de manière interprétable. Sur la base d’un tel cadre, nous développerons ensuite des modèles génératifs profonds menant à la découverte de connaissances qui peuvent être considérées comme des règles symboliques.
        </p><br/>
        <p>
            Une fois apprises, ces règles seront combinées en utilisant des modèles neuronaux pour mettre en œuvre des méthodes de raisonnement de haut niveau, de la même manière que les règles sont combinées dans un formalisme logique. En s’engageant dans la pratique tout au long du projet, plusieurs méthodes, références et applications seront développées.
        </p><br/>
    </div>
</div>
</section>


<section id="partners-section">
<div class="container px-5">
    <div class="partners-logos">
        <img src="assets/img/partner1.png" alt="Partenaire 1">
        <img src="assets/img/partner2.png" alt="Partenaire 2">
        <img src="assets/img/partner3.png" alt="Partenaire 3">
        <img src="assets/img/partner4.png" alt="Partenaire 4">
    </div>
</div>
</section>
